<ion-header class="bg_img">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <div class="title-inner d-flex">

                <span class="end">
                    <ion-icon class="zmdi zmdi-alert-circle ion-text-end"></ion-icon>
                    <ion-icon class="zmdi zmdi-volume-up ion-text-end"></ion-icon>
                </span>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content fullscreen>
    <iframe #iframeScene src="../assets/arscenes/sentadilla-zumo.html" style="position:absolute; width: 100%; height: 100%;"></iframe>
</ion-content>
<app-audio-player #audioPlayer [audio]="'./assets/audio/leg-extension.mp3'"></app-audio-player>
