<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
      </ion-buttons>
      <ion-title>
        {{'routines-of' | translate}}{{routineCategoryList?.equipment?.name | translate }}
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_img " fullscreen>
   <ion-list *ngFor="let routine of routineCategoryList?.routines"  lines="none">
        <h2><span>{{'workout' | translate | uppercase}}</span> {{routine.name}}</h2>
        <ion-item  [id]="routine?.id" class="animate__animated animate__fadeInUp" (click)="showExcercises(routine)">
            <div style="flex-direction: column;" class="item_inner d-flex" >
                <div style="display: flex;width: 100%;">
                    <div class="img_box center_img">
                        <img [src]='routine.photo' class="crop_img">
                    </div>
                    <div style="margin-left: 2vw;" class="text_box">
                        <h3>{{routine.description}}</h3>
                    </div>
              
                    </div>
                </div>
            </ion-item>
    </ion-list>
</ion-content>
