
  <div class="silder_box">
      <ion-slides pager="false" [options]="slideOptions" #slideWithNav (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
          <ion-slide *ngFor="let object of objectList">
              <div class="slide_inner">
                  <div class="img_box">
                      <img src='{{object.photo}}'>
                  </div>
                  <!--<h6 class="ion-text-center">{{title}} <span>x{{text}}</span></h6>-->
              </div>
          </ion-slide>
      </ion-slides>

      <div class="slides_btn d-flex">
          <ion-icon class="zmdi zmdi-chevron-left ion-text-center" (click)="slidePrev(sliderOne,slideWithNav)" [class.disabled]="sliderOne.isBeginningSlide"></ion-icon>

          <ion-icon class="zmdi zmdi-chevron-right ion-text-center end" (click)="slideNext(sliderOne,slideWithNav)" [class.disabled]="sliderOne.isEndSlide"></ion-icon>
      </div>
  </div>
