<ion-app [dir]="rtlSide">
    <ion-split-pane contentId="main-content">
        <ion-menu *ngIf="showSideMenu" [side]="rtlSideMenu" contentId="main-content" type="overlay">
            <div class="menu_inner">
                <ion-header>
                    <div class="profile_box" (click)="profile()">
                        <ion-menu-toggle class="d-flex" auto-hide="false">
                            <div class="img_box center_img">
                                <img src="{{user.Photo}}" class="crop_img">
                            </div>
                            <div class="text_box">
                                <h2>{{user.Name}}</h2>
                                <h3>{{"view_profile" | translate}}</h3>
                            </div>
                        </ion-menu-toggle>
                    </div>
                </ion-header>
               <!--<div class="buy_this_app" *ngIf="config.demoMode" (click)="buyappalert()">
                    <ion-menu-toggle auto-hide="false">
                        <h2>
                            <ion-icon class="zmdi zmdi-shopping-cart"></ion-icon>
                            {{"buy_this_app" | translate}}
                        </h2>
                    </ion-menu-toggle>
                </div>--> 
                <ion-content>
                    <ion-list lines="none">
                        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                            <ion-item mode="ios" detail="false" [routerDirection]="'root'" [routerLink]="[p.url]">
                                <div class="item_inner d-flex">
                                    <ion-icon slot="start" [class]="p.icon"></ion-icon>
                                    <h2>{{ p.title | translate}}</h2>
                                </div>
                            </ion-item>
                        </ion-menu-toggle>
                    </ion-list>
                </ion-content>

            </div>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
