<ion-header class="bg_transparent">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
           <!-- <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>-->
      </ion-buttons>
      <ion-title>
          {{'detect-object' | translate}}
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bg_img" fullscreen>
  <ion-slides class="ionSlides" pager=true options={slideOpts}>

          <ion-slide>
            <div class="slide">
              <img src="https://cdn3.iconfinder.com/data/icons/hand-holding-and-using-smartphone-phone/396/phone-black-6-256.png" width="50px" height="50px"/>
              <h2>{{'welcome' | translate}}</h2>
              <p>{{'descriptionIntroRecognize' | translate}}</p>
            </div>
          </ion-slide>
  
          <ion-slide>
            <img src="https://cdn0.iconfinder.com/data/icons/gym-19/64/14_app_phone_smartphone_gym_sport_workout_fitness-256.png"/>
            <h2>{{'focus' | translate}}</h2>
            <p>{{'focusDescription' | translate}}</p>
          </ion-slide>
  
          <ion-slide>
            <img src="https://cdn0.iconfinder.com/data/icons/virtual-reality-88/100/Virtual_Reality_0010-19-256.png"/>
            <h2>{{'demo' | translate}}</h2>
            <p>{{'demoDescription' | translate}}</p>
          </ion-slide>
  
          <ion-slide>
            <img src="https://cdn2.iconfinder.com/data/icons/top-search/128/_Upload_arrow_up_Export-512.png"/>
            <h2>{{'ready' | translate}}</h2>
            <p>{{'readyTo' | translate}}</p>

          </ion-slide>
    </ion-slides>
    <div>
      <ion-fab class="animate__animated animate__zoomIn" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-button  (click)="getPicture()" type="submit" fill="clear" color="light" size="large"><i class="zmdi zmdi-camera"></i></ion-button>
        </ion-fab-button>
      </ion-fab>
    </div>
        <ion-footer class="ion-no-border">
      </ion-footer>
</ion-content>
