<ion-header class="bg_transparent">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
      </ion-buttons>
      <ion-title>
          {{'detect-object' | translate}}
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_img" fullscreen>

    <div *ngIf='!flag' class="container animate__animated animate__fadeInUp">
        <p>
            {{'take-photo-warnings' | translate}}
        </p>
        <div  style="text-align: center;margin-top: 15vh;">
          <img src="assets/imgs/detect-object.png" height="100px" width="100px" alt="">
        </div>
      </div>
      
      <div *ngIf='flag' class="container animate__animated animate__fadeInUp">
        <div>
          <img [src]='tag?.equipment?.photo' alt="">
        </div>
        <div class="text_box" style="text-align: center;">
          <h3>{{tag?.equipment?.name | translate }}</h3>
        </div>
        
        <br/>
        <br/>
        <div>
          <p>{{tag?.equipment?.description | translate}}</p>
        </div>
        <br/>
        <br/>
        <!--<div>
          <h3>{{'routines' | translate}}</h3>
          <div>
            <ion-slides pager="false" [options]="slideOptions" #slideWithNav (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
              <ion-slide *ngFor='let routine of tag?.routines' >
                  <div class="slide_inner" (click)="SearchByMachineAndRoutineCategory(routine)">
                    <h3 class="ion-text-center">{{routine.name}}</h3>  
                      <div class="text_box img_box">
                          <img [src]='routine.photo'>
                      </div>
                      <p>{{routine.description}}</p>
                  </div>
              </ion-slide>
            </ion-slides>
          </div>
        </div>-->
        <ion-footer class="ion-no-border">
          <ion-button size="large" shape="full" class="btn" (click)="languageConfirm()">
              {{'seeRoutines' | translate}}
          </ion-button>
      </ion-footer>
      </div>
     
    
  <ion-fab class="animate__animated animate__zoomIn" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-button (click)="getPicture()" type="submit" fill="clear" color="light" size="large"><i class="zmdi zmdi-camera"></i></ion-button>
  </ion-fab-button>
</ion-fab>
</ion-content>