<ion-header>
  <app-slide #slide [objectList]="exercisePhotosList" [title]="exercise?.exercise" [text]="exercise?.repetitions"></app-slide>
</ion-header>

<ion-content class="bg_img " fullscreen>
  <div style="height: 100%;" class="text-container animate__animated animate__fadeInUp">
      <p>
          {{exercise?.exerciseDescription}}
      </p>
  </div>
</ion-content>


<ion-footer class="ion-no-border animate__animated animate__fadeInUp">
  <ion-button size="large" expand="full" class="btn" (click)="start_workout(exercise)">{{'let_starts' | translate}}</ion-button>
</ion-footer>
