<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          <div class="title-inner d-flex">
              Gym<span>my</span>
              <!--<ion-icon class="zmdi zmdi-alarm ion-text-end end"></ion-icon>-->
          </div>
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg_img " fullscreen>
    <div class="silder_box">
        <ion-slides pager="false" [options]="slideOptions" #slideWithNav >
            <ion-slide *ngFor='let routine of this.routineCategoryService.categoriesByMachine?.objModel.routines' (click)="showInfo(routine)" >
                <div class="slide_inner" (click)="SearchByMachineAndRoutineCategory(routine)">
                    <h3 class="ion-text-center">{{routine.name}}</h3>  
                    <div class="text_box img_box">
                        <img [src]='routine.photo'>
                    </div>
                <p>{{routine.description}}</p>
                </div>
            </ion-slide>
        </ion-slides>
        <div class="slides_btn d-flex">
            <ion-icon class="zmdi zmdi-chevron-left ion-text-center" (click)="slidePrev(sliderOne,slideWithNav)" [class.disabled]="sliderOne.isBeginningSlide"></ion-icon>
            <ion-icon class="zmdi zmdi-chevron-right ion-text-center end" (click)="slideNext(sliderOne,slideWithNav)" [class.disabled]="sliderOne.isEndSlide"></ion-icon>
        </div>
    </div>
    <div  *ngFor='let iterator of this.routineCategoryService?.categoriesByMachineAndRoutine?.objModel'  lines="none">
        <div class="silder_box" style="margin: 6vw!important;border-radius: 5px;">
            <h5 style="color: #ffffff; text-align: center;">{{iterator.routineDescription}}</h5>
            <ion-slides pager="false" [options]="slideOptions2" #slideWithNav >
                <ion-slide *ngFor="let level of iterator.levels"  >
                    <div style="display: flex;padding: 2vw;" >
                        <div >
                            <img [src]='level.photo' style="object-fit: fill;border-radius: 5px;">
                        </div>  
                        <div class="text_box" style="font-size: 1rem!important;">
                            <div style="margin-top: 4vh;">
                                <p style="color: #ffffff;">{{level.description}}</p>
                            <p style="color: #ffffff;">{{'repetitions' | translate}} <br>{{level.repetitions}}</p>
                            </div>
                            
                        </div>
                    </div>
                </ion-slide>
            </ion-slides>
            <div class="slides_btn d-flex">
                <ion-icon class="zmdi zmdi-chevron-left ion-text-center" (click)="slidePrev(sliderOne,slideWithNav)" [class.disabled]="sliderOne.isBeginningSlide"></ion-icon>
                <ion-icon class="zmdi zmdi-chevron-right ion-text-center end" (click)="slideNext(sliderOne,slideWithNav)" [class.disabled]="sliderOne.isEndSlide"></ion-icon>
            </div>
        </div>
    </div>
</ion-content>
      
      


<ion-footer class="ion-no-border animate__animated animate__fadeInUp">
  <ion-button size="large" expand="full" class="btn" (click)="start_workout()">{{'let_starts' | translate}}</ion-button>
</ion-footer>
