<ion-header class="bg_transparent">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_img bg_blur" fullscreen>
    <div class="logo animate__animated animate__zoomIn">
        <img src="assets/imgs/logo2.png">
    </div>
    <div class="form animate__animated animate__zoomIn">
        <h2 class="ion-text-center">{{"forgot_password" | translate}}?</h2>
        <p class="ion-text-center">
            {{"provide_your" | translate}}<br>{{"registered_email_address" | translate}}<br>{{"we_ll_send_you_password_reset_instruction" | translate}}
        </p>
        <ion-list lines="none">
            <ion-item lines="none">
                <ion-input mode="md" type="email" placeholder="{{'enter_email_address' | translate}}"></ion-input>
            </ion-item>
        </ion-list>

        <ion-button size="large" expand="block" class="btn" (click)="home()">{{'submit' | translate}}</ion-button>
        
        <div class="back_to_login">
            <h3 class="ion-text-center" (click)="sign_in()"> {{'back_to' | translate}}
                <span>{{'login' | translate}} </span>
            </h3>
        </div>
    </div>
</ion-content>