.logo {
    position: relative;
    z-index: 99;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 160px;
    --animate-duration: .35s;

    img {
        display: block;
        margin: auto;
        max-width: 155px;
    }
}

.form {
    --animate-duration: .35s;

    h2 {
        margin: 0;
        color: var(--white);
        font-weight: 400;
        font-size: 1.14rem;
        letter-spacing: 1px;
        padding-bottom: 50px;
    }

    p {
        margin: 0;
        color: var(--white);
        font-size: 0.8rem;
        line-height: 18px;
        margin-bottom: 35px;
    }

    ion-list {
        margin-bottom: 5px;
    }


    .back_to_login {
        padding-top: 30%;

        h3 {
            margin: 0;
            color: var(--white);
            font-weight: 400;
            font-size: 0.65rem;

            span {
                color: var(--primary);
                font-weight: 500;
            }
        }
    }
}