<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <div class="title-inner d-flex">
                Gym<span>my</span>
                <ion-icon class="zmdi zmdi-alarm ion-text-end end" (click)="alarm()"></ion-icon>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="bg_img" fullscreen>
    <ion-list lines="none">
        <h2>View <span>{{'workout' | translate}}</span></h2>
        <ion-item class="animate__animated animate__fadeInUp" (click)="workouts()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/img-1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3>First person<br>Trainning</h3>
                    <h4>13 {{'workouts' | translate}}</h4>
                </div>

                <div class="level">
                    <ion-icon class="zmdi zmdi-flash active"></ion-icon>
                    <ion-icon class="zmdi zmdi-flash active"></ion-icon>
                    <ion-icon class="zmdi zmdi-flash"></ion-icon>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp" (click)="workouts()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/img-2.png" class="crop_img">
                </div>

                <div class="text_box">
                    <h3>Third person<br>Trainning</h3>
                    <h4>13 {{'workouts' | translate}}</h4>
                </div>

                <div class="level">
                    <ion-icon class="zmdi zmdi-flash active"></ion-icon>
                    <ion-icon class="zmdi zmdi-flash active"></ion-icon>
                    <ion-icon class="zmdi zmdi-flash active"></ion-icon>
                </div>
            </div>
        </ion-item>
        
        
        <h2>Recognize <span>{{'workout' | translate}}</span></h2>
        

        <ion-item class="animate__animated animate__fadeInUp" (click)="routineCategories()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/img-9.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3>Routines</h3>
                    <h4>11 {{'workouts' | translate}}</h4>
                </div>

                <div class="level">
                    <ion-icon class="zmdi zmdi-flash active"></ion-icon>
                    <ion-icon class="zmdi zmdi-flash"></ion-icon>
                    <ion-icon class="zmdi zmdi-flash"></ion-icon>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="toRecognize()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/img-3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3>Recognize Equipment</h3>
                    <h4>11 {{'workouts' | translate}}</h4>
                </div>

                <div class="level">
                    <ion-icon class="zmdi zmdi-flash active"></ion-icon>
                    <ion-icon class="zmdi zmdi-flash"></ion-icon>
                    <ion-icon class="zmdi zmdi-flash"></ion-icon>
                </div>
            </div>
        </ion-item>
        <h2>Configurations <span>{{'workout' | translate}}</span></h2>
        <ion-item class="animate__animated animate__fadeInUp" (click)="workouts()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3>Settings</h3>
                    <h4>11 {{'workouts' | translate}}</h4>
                </div>

                <div class="level">
                    <ion-icon class="zmdi zmdi-flash active"></ion-icon>
                    <ion-icon class="zmdi zmdi-flash"></ion-icon>
                    <ion-icon class="zmdi zmdi-flash"></ion-icon>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>