<ion-header class="bg_transparent">
    <ion-toolbar>
        <div class="toolbar-inner d-flex">
            <ion-buttons slot="start">
                <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
            </ion-buttons>
            <ion-title>
                <div class="title-inner">
                    <div class="workout_detail d-flex">
                        <h3>{{equipment?.name | translate }} <br> {{routine.name}}</h3>
                    </div>
                    <h5>{{excerciseDetail?.length}} {{'workouts-count' | translate}}</h5>
                </div>
            </ion-title>
        </div>
    </ion-toolbar>
    <div class="workout_img center_img">
        <img src="assets/imgs/workout_banner.png" class="crop_img">
    </div>
</ion-header>
<ion-content class="bg_img" fullscreen>
    <ion-list *ngFor="let exercise of excerciseDetail" lines="none">
        <ion-item [id]="exercise?.id" class="animate__animated animate__fadeInUp" (click)="GetExerciseLevels(exercise)">
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="{{exercise.photo}}" onerror="this.src = 'assets/imgs/Gymmy-05.png';">
                </div>
                <div class="text_box">
                    <h3>{{exercise.routineDescription}}</h3>
                    <h4>x{{exercise.repetitions}}</h4>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>