<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          <div class="title-inner d-flex">
              Gym<span>my</span>
              <ion-icon class="zmdi zmdi-alarm ion-text-end end"></ion-icon>
          </div>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_img " fullscreen>
   <ion-list *ngFor="let exercise of excerciseDetail"  lines="none">
        <!--<h2><span>{{'workout' | translate | uppercase}}</span> {{routine.name}}</h2>-->
        <ion-item  [id]="exercise?.id" class="animate__animated animate__fadeInUp" (click)="showExcercises(routine)">
            <div style="flex-direction: column;" class="item_inner d-flex" >
                <div style="display: flex;width: 100%;">
                    <div style="margin-left: 2vw;" class="text_box">
                        <h3>{{exercise.routineDescription}}</h3>
                        <h4> {{'workouts' | translate}}</h4>
                    </div>
                    </div>
                        <div style="width: 100%;">
                            <app-accordian  title= "{{'levels' | translate}}" >
                                <ion-list   *ngFor="let level of exercise.levels"  lines="none" style="display: flex;width: 100%;">
                                    <ion-item   class="animate__animated animate__fadeInUp" style="display: flex;width: 100%;" (click)="showAr(level,exercise)">
                                        <div style="display: flex;width: 100%;">
                                            <div class="img_box center_img">
                                              <img [src]='level.photo' class="crop_img">
                                            </div>
                                            <div style="margin-left: 2vw;" class="text_box">
                                              <h3>{{level.name}}</h3>
                                              <h4 style="color: white;"> {{level.description}}</h4>
                                            </div>
                                            <div class="level">
                                                <ion-icon  *ngFor='let in of counter(level.powerQuantity) ;let i = index' class="zmdi zmdi-flash active"></ion-icon>
                                            </div>
                                      </div>
                                    </ion-item>
                                </ion-list>
                            </app-accordian>
                        </div>
                    </div>
            </ion-item>
    </ion-list>
</ion-content>
<ion-footer class="ion-no-border animate__animated animate__fadeInUp">
  <ion-button size="large" expand="full" class="btn" (click)="start_workout()">{{'let_starts' | translate}}</ion-button>
</ion-footer>
