ion-header {
    padding: 14px 0 20px 0;

    .workout_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    ion-toolbar {

        .toolbar-inner {
            align-items: flex-start;

            ion-title {
                .title-inner {
                    width: 100%;
                    padding-top: 15px;

                    .workout_detail {
                        align-items: flex-start;
                        padding-bottom: 15px;

                        h3 {
                            margin: 0;
                            color: var(--white);
                            font-weight: 600;
                            font-size: 1.22rem;
                            letter-spacing: 0;
                        }

                        .level {
                            min-width: fit-content;
                            padding-top: 3px;

                            h4 {
                                margin: 0;
                                font-weight: 300;
                                font-size: .75rem;
                                padding-bottom: 3px;
                            }

                            span {
                                display: flex;
                                align-items: center;

                                ion-icon {
                                    color: var(--text-dark);
                                    font-size: .8rem;
                                    max-width: 10px;

                                    &.active {
                                        color: var(--primary);
                                    }
                                }
                            }
                        }
                    }

                    h5 {
                        margin: 0;
                        color: var(--text-light);
                        font-size: 0.78rem;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    &.header-ios {
        ion-toolbar .toolbar-inner ion-title .title-inner {
            padding-top: 6px !important;
        }
    }
}

ion-list {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    padding: 0;
    background: var(--transparent) !important;
    padding-top: 15px;


    ion-item {
        padding: 10px 10px;
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --padding-start: 0;
        --background: var(--transparent) !important;
        --min-height: unset;
        position: relative;
        backdrop-filter: blur(5px);
        background: rgba(127, 127, 127, 0.39) !important;
        margin: 0 auto;
        width: calc(100% - 40px);
        margin-bottom: 10px;
        border-radius: 12px;
        overflow: hidden;

        .item_inner {
            .img_box {
                min-width: 60px;
                max-width: 60px;
                height: 60px;
                margin-right: 20px;

                img {
                    filter: grayscale(100);
                }
            }

            .text_box {
                width: 100%;

                h3 {
                    margin: 0;
                    color: var(--white);
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 1rem;
                    letter-spacing: 0.3px;
                    padding-bottom: 10px;
                }

                h4 {
                    margin: 0;
                    color: var(--text-dark);
                    font-size: 0.78rem;
                    font-weight: 400;
                }
            }
        }

        &.animate__animated.animate__fadeInUp {
            --animate-duration: .0s;

            &:nth-child(1) {
                --animate-duration: .15s;
            }

            &:nth-child(2) {
                --animate-duration: .2s;
            }

            &:nth-child(3) {
                --animate-duration: .25s;
            }

            &:nth-child(4) {
                --animate-duration: .3s;
            }

            &:nth-child(5) {
                --animate-duration: .35s;
            }

            &:nth-child(6) {
                --animate-duration: .4s;
            }

            &:nth-child(7) {
                --animate-duration: .45s;
            }

            &:nth-child(8) {
                --animate-duration: .5s;
            }

            &:nth-child(9) {
                --animate-duration: .55s;
            }

            &:nth-child(10) {
                --animate-duration: .6s;
            }

            &:nth-child(11) {
                --animate-duration: .65s;
            }

            &:nth-child(12) {
                --animate-duration: .7s;
            }

            &:nth-child(13) {
                --animate-duration: .5s;
            }

            &:nth-child(14) {
                --animate-duration: .5s;
            }

            &:nth-child(15) {
                --animate-duration: .5s;
            }
        }
    }
}